// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Roboto Condensed', 'Raleway' -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif ;
$font-family-serif:      'Josefin Slab', Georgia, "Times New Roman", Times, serif ;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-family-base:       $font-family-sans-serif ;
$font-size-base: .875rem !default;
$headings-font-family:   'Raleway';
$blue:   #00AEEF;
$pink:   #FF00FF;
$link-hover-color: $pink;
$link-hover-decoration: none;
$jumbotron-bg: #fff;